<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<global-property doc:name="Global Property" doc:id="1dae8185-2677-466e-ad23-cb119e857522" name="mule.env" value="${mule.env}" />
	<configuration-properties doc:name="Configuration properties" doc:id="82511561-199b-4b59-81a6-f2fde58aaa81" file="config/config-${mule.env}.yaml" />
    <configuration-properties doc:name="Configuration properties" doc:id="840cd8b3-f3c0-4f5a-80a5-9f13f696dfb3" file="config/config.yaml" />
	<api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="8786977f-1c77-4474-b078-b46be6362be2" flowRef="error-api-main" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="4041dde3-2ee9-4141-85b8-17d18a5a8ee6" file="config/config-${mule.env}.yaml" key="${secure.key}">
        <secure-properties:encrypt algorithm="Blowfish" />
    </secure-properties:config>
</mule>
